@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&display=swap');

.topheader{
    background-color: #0d2d3e;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
}

.firsttop{
    display: flex;
    gap: 30px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    font-family: "Poppins", serif;
}

.secondtop ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
    margin-bottom: 10px;
}

.secondtop ul li a{
    color: white;
    transition: all ease 0.3s;
}

.secondtop ul li a:hover{
    color: #e94d65;
}

.headerbottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 18vh;
    gap: 300px;
}

.nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.burgerMenu {
    display: none;
    cursor: pointer;
    color: #0d2d3e;
  }
  
  .nav {
    display: flex;
    gap: 20px;
  }
  
  .navOpen {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: 10vh;
    right: 0;
    background-color: #0d2d3e;
    width: 100%;
    height: auto;
    padding: 20px;
    z-index: 100;
  }
  
  .navOpen ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
  }
  
  .navOpen ul li {
    margin: 10px 0;
  }
  
  .navOpen ul li a {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
    color: white;
  }

.nav ul li a{
    font-family: "Poppins", serif;
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
    color: #0d2d3e;
}

@media screen and (max-width: 1024px) {
    .burgerMenu {
        display: block;
    }
  
    .nav {
      display: none;
    }
  
    .nav ul {
      display: none;
    }
  }
  
  @media screen and (max-width: 768px) {
    .headerbottom {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .nav ul {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  
    .navOpen ul {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  
    .nav ul li a,
    .navOpen ul li a {
      font-size: 16px;
    }
  }
  

@media screen and (max-width:576px) {
    #sun{
        display: none;
    }

    .burgerMenu{
        display: none;
    }

    .secondtop{
        margin-bottom: 10px;
    }
    
    .logo{
        margin-left: 40px;
    }

    .secondtop ul li a{
        font-size: 8px;
    }

    #clock{
        font-size:8px;
    }
}